.container {
  display: flex;
  gap: 20px;
  border-radius: var(--border-radius);
  padding: 20px;
  position: relative;
  width: 87%;
  box-shadow: var(--box-shadow)
}

.sizeContainer {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 10px;
  height: 20px;
  width: 20px;
}

.iconClose {
  position: absolute;
  right: 5px;
  top: 5px;
}
