.container {
  border-radius: var(--border-radius);
  padding: 5px;
  position: relative;
}

.container img {
  height: 100px;
  width: 100px;
}

.iconRemove {
  position: absolute;
  top: 5px;
  right: 5px;
}
