.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
