.textarea {
  background-color: white;
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(108 0 173 / 27%);
}

.error {
  border: 1px solid red;
}
