.input {
  width: 90%;
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
  border-radius: var(--border-raduis);
  outline: none;
  height: 30px;
}

input:focus {
  outline: none;
  border: 2px solid var(--main);
}
