.input,
.smallWidth {
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius);
  outline: none;
  height: 30px;
  text-align: center;
}

.input {
  width: 90%;
}

.smallWidth {
  max-width: 50px;
}

input:focus {
  outline: none;
  border: 2px solid var(--main);
}
