.input, .error {
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius);
  outline: none;
  height: 30px;
  text-align: center;
  width: 100%;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(108 0 173 / 27%);
}

.error {
  border: 1px solid red;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
