.container,
.smallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5% 1%;
  min-height: 100vh;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.smallContainer {
  margin: 1% 20%;
  padding: 0% 3% 3%;
  background-color: white;
}

.redirectButton {
  position: absolute;
  top: 2.5%;
  right: 21%;
  border: none;
  background: none;
  font-size: 30px;
  color: var(--dark-blue);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .smallContainer {
    margin: 0;
  }

  .redirectButton {
    right: 0;
  }
}
