.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 30px;
  box-shadow: var(--box-shadow);
  position: relative;
  gap: 20px;
}

h3 {
  margin: 0;
}

.variant {
  width: 50%;
}

.article {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10%;
}

.iconRemove {
  position: absolute;
  top: 5px;
  right: 5px;
}

.iconCopy {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
