.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
}

.signOut {
  color: var(--red);
  cursor: pointer;
}

.delete {
  color: var(--dark-gray);
  cursor: pointer;
}
