.sidebar {
  width: 250px;
  background-color: var(--light-gray);
  transform: translateX(-250px);
  position: absolute;
  height: 100%;
  z-index: 1;
}

.sidebar.open {
  transform: translateX(0);
}

.menuList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 20px;
}

.hamburgerButton,
.arrowLeftButton {
  position: absolute;
  top: 10px;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.arrowLeftButton {
  left: 235px;
  background-color: var(--main);
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
