.select,
.halfWidth {
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius);
  outline: none;
  height: 30px;
  text-align: center;
  width: 100%;
}

.select {
  width: 100%;
}

.halfWidth {
  width: 50%;
}
