.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 20px;
}

.leftContainer {
  display: flex;
  width: 50%;
  gap: 20px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image {
  width: 100px;
  height: 150px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .leftContainer, .rightContainer, .priceContainer{
    flex-direction: column;
    align-items: center;
  }
}
