.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound {
  display: flex;
  justify-content: center;
}
