.container input[type='checkbox'] {
  display: none;
}

.container label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 12px;
}

.container label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray);
  background-color: var(--gray);
  border-radius: 5px;
}

.container input[type='checkbox']:checked + label:before {
  content: '\2714';
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: var(--main);
  border: 1px solid var(--main);
  background-color: white;
}
