.text {
  text-align: center;
  align-self: center;
  color: var(--dark-blue);
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 25px;
  }
}
