.buttonContainer {
  display: flex;
  flex-direction: column;
}

.loginButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 100px;
}

.haveAccount {
  font-weight: bold;
}
