.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerItem {
  width: 30%;
  text-align: center;
  font-weight: bold;
}
