.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
  gap: 20px;
}

.imagesWith1ColorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  gap: 20px;
  position: relative;
  width: 100%;
}

.iconRemove {
  position: absolute;
  top: 5px;
  right: 5px;
}

.title {
  margin: 0;
}
