body {
  margin: 0;
  font-family: Palatino, URW Palladio L, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  position: relative;
  height: 100%;
}

body::before {
  /* background-image: url('/public/background.jpeg'); */
  transform: scaleX(-1);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%;
}

label,
div,
select,
input,
p {
  font-size: 16px;
}

textarea,
input,
select {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main: #6c00ad;
  --main-opacity: #6c00b06c;
  --dark-main: #1f0032;
  --yellow: #fddc00;
  --orange: #ff7c00;
  --button: #4a0072;
  --pink: #f43bff;
  --green: #00b377;
  --red: #ff0000;
  --dark-red: #c80303;
  --gray: #c6c5d7;
  --light-gray: #e0e0e9;
  --dark-gray: #adacb7;
  --gray-opacity: rgba(223, 218, 218, 0.55);
  --brown: #654321;

  /* Sizes */
  --border-radius: 8px;

  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.elementWithLabelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.authContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 50px 20px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .authContainer {
    width: 90%;
  }
}
