body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors */
  --main: #6c00ad;
  --main-opacity: #6c00b06c;
  --yellow: #fddc00;
  --orange: #ff7c00;
  --green: #00b377;
  --red: #ff0000;
  --dark-red: #c80303;
  --gray: #c6c5d7;
  --light-gray: #e0e0e9;
  --dark-gray: #adacb7;
  --gray-opacity: rgba(223, 218, 218, 0.55);

  /* Sizes */
  --border-radius: 8px;
}
