body {
  margin: 0;
  font-family: Palatino, URW Palladio L, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors */
  --main: #6c00ad;
  --main-opacity: #6c00b06c;
  --yellow: #fddc00;
  --orange: #ff7c00;
  --green: #00b377;
  --red: #ff0000;
  --dark-red: #c80303;
  --gray: #c6c5d7;
  --light-gray: #e0e0e9;
  --dark-gray: #adacb7;
  --gray-opacity: rgba(223, 218, 218, 0.55);
  --brown: #654321;

  /* Sizes */
  --border-radius: 8px;

  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.elementWithLabelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

label, div, select, input, p {
  font-size: 16px;
}
