.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.notFound {
  display: flex;
  justify-content: center;
}
